<section class="tools">
  <div class="tools__container">
    <h1 class="tools__container__headline">Muito mais ferramentas em um só lugar!</h1>
    <div class="tools__container__icons">
      <div class="tools__container__icons__icon">
        <img src="assets\img\icons\ico-1.svg" alt="Icone 1" class="tools__container__icons__icon__image" />
        <p class="tools__container__icons__icon__text">Nome da função</p>
      </div>
      <div class="tools__container__icons__icon">
        <img src="assets\img\icons\ico-2.svg" alt="Icone 2" class="tools__container__icons__icon__image" />
        <p class="tools__container__icons__icon__text">Nome da função</p>
      </div>
      <div class="tools__container__icons__icon">
        <img src="assets\img\icons\ico-3.svg" alt="Icone 3" class="tools__container__icons__icon__image" />
        <p class="tools__container__icons__icon__text">Nome da função</p>
      </div>
      <div class="tools__container__icons__icon">
        <img src="assets\img\icons\ico-4.svg" alt="Icone 4" class="tools__container__icons__icon__image" />
        <p class="tools__container__icons__icon__text">Nome da função</p>
      </div>
      <div class="tools__container__icons__icon">
        <img src="assets\img\icons\ico-5.svg" alt="Icone 5" class="tools__container__icons__icon__image" />
        <p class="tools__container__icons__icon__text">Nome da função</p>
      </div>
      <div class="tools__container__icons__icon">
        <img src="assets\img\icons\ico-6.svg" alt="Icone 6" class="tools__container__icons__icon__image" />
        <p class="tools__container__icons__icon__text">Nome da função</p>
      </div>
    </div>
    <div class="tools__container__store-buttons">
      <app-action-button variant="primary" [size]="'23.125rem'" buttonText="Baixe agora mesmo">
      </app-action-button>
    </div>
  </div>
</section>
