@import "../../../assets/scss/styles.scss";

.tension-out {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60vh;
  position: relative;

  &__container {
    display: flex;
    flex-direction: row;
    width: 100vw;

    &__content {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 4rem;
      justify-content: center;
      margin: 20px;
      padding: 5rem;

      &__text-container {
        width: 45%;
        max-width: 36rem;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        text-align: justify;
        justify-content: center;
        align-items: flex-end;

        &__headline {
          font-size: 2.125rem;
          font-weight: 700;
          margin-bottom: 10px;
          text-align: justify;
        }

        &__subheadline {
          font-size: 1rem;
          font-weight: 400;
          text-align: justify;
        }

        &__store-buttons {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          margin-top: 4rem;
        }
      }

      &__images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 30%;

        &__animation {
          max-width: 30rem;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
}

@media (min-width: 2790px) {
  .tension-out {
    &__container__content {
      max-width: 100vw;
      gap: 6rem;

      &__text-container {
        max-width: 70rem;

        &__logo {
          max-width: 550px;
        }

        &__headline {
          font-size: 3rem;
        }

        &__subheadline {
          font-size: 2rem;
        }
      }

      &__images {
        &__animation {
          max-width: 100vw;
          width: auto;
          height: auto;
          bottom: -70px;
        }

        &__group {
          width: 100%;
          height: 66%;
          max-width: 100vw;
          bottom: -70px;
          position: relative;
        }
      }
    }
  }
}

@media (max-width: 1900px) {
  .tension-out {
    &__container__content {
      &__text-container {
        &__headline {
          font-size: 2.125rem;
          font-weight: 900;
        }

        &__subheadline {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (max-width: 1680px) {
  .tension-out {
    height: 90vh;

    &__container__content {
      flex-direction: column;
      text-align: center;
      gap: 2rem;
      align-items: center;
      padding: 0;

      &__text-container {
        align-items: center;
        width: 100%;

        &__logo {
          max-width: 280px;
        }

        &__headline {
          order: 1;
          font-size: 1.2rem;
        }

        &__subheadline {
          order: 3;
          font-size: 1rem;
        }

        &__store-buttons {
          order: 2;
          margin: 1.5rem 0;
          justify-content: center;
        }
      }

      &__images {
        &__animation {
          width: auto;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .tension-out {
    &__container__content {
      &__text-container {
        &__headline {
          font-size: 1rem;
        }

        &__subheadline {
          font-size: 0.9rem;
        }
      }
    }
  }
}
