.store-button {
  width: 170px;
  height: 63px;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 63px;
    transition: filter 0.3s ease;
  }

  @media (max-width: 600px) {
    width: 170px;
    height: 63px;
    font-size: 14px;
  }

  &:hover {
    background-color: var(--white);
    color: var(--primary);
    border: 2px solid var(--primary);

    img {
      filter: invert(37%) sepia(66%) saturate(5017%) hue-rotate(110deg) brightness(99%) contrast(96%);
    }
  }
}
