<section class="routine">
  <div class="routine__container">
    <div class="routine__content">
      <div>
        <img src="assets/img/complementary-images/group-279.svg" alt="casal com compras" class="routine__content__image-compra">
      </div>
      <div class="routine__content__text">
        <h1 class="routine__headline">Facilite a sua rotina</h1>
        <p class="routine__description">
          Hoje em dia prezamos por ajustar o nosso tempo da melhor forma possível, tendo em vista tantas tarefas que temos ao longo do dia. Deixe o <strong>Cadu</strong> facilitar a sua ida ao mercado.
        </p>
        <p class="routine__cta">É <strong>fácil</strong>, é <strong>simples</strong> e é <strong>de graça!</strong></p>
      </div>
      <div class="routine__content__images routine__content__images--bottom">
        <img src="assets/img/complementary-images/rectangle.svg" alt="Retângulo verde" class="routine__content__image">
      </div>
      <div class="routine__social-media">
        <img src="assets\img\logo\logo-pb-1.svg" alt="Logo" class="routine__logo">
        <p>O seu companheiro de bolso na hora das compras.</p>
        <div class="routine__store-buttons">
          <app-action-button src="assets/img/app-store/play-store-icon.svg" alt="Play Store" [icon]="true" size="size"></app-action-button>
          <app-action-button src="assets/img/app-store/apple-store-icon.svg" alt="Apple Store Icon" [icon]="true" size="size"></app-action-button>
        </div>

        <div class="routine__social-icons">
          <a href="#"><img src="assets/img/icons/instagram.svg" alt="Instagram"></a>
          <a href="#"><img src="assets/img/icons/linkedin.svg" alt="Linkedin"></a>
          <a href="#"><img src="assets/img/icons/facebook.svg" alt="Facebook"></a>
          <a href="#"><img src="assets/img/icons/telegram.svg" alt="Telegram"></a>
          <a href="#"><img src="assets/img/icons/whatsapp.svg" alt="Whatsapp"></a>
        </div>
      </div>
    </div>
  </div>
</section>
