<section class="presentation">
  <div class="presentation__content">
    <img src="assets\img\logo\logo-color-1.svg" alt="MerCadu Logo" class="presentation__logo">

    <div class="presentation__text-container">
      <p class="presentation__headline">
        O app que resolve o seu problema na hora de saber quanto está gastando no mercado!
      </p>
      <p class="presentation__subheadline">
        Mais que uma calculadora comum - <strong>você nem precisa parar pra digitar</strong> - basta sacar o celular e
        mirar para o valor do produto que ele calcula automaticamente!
      </p>

      <div class="presentation__store-buttons">
        <button class="store-button store-button-play">
          <img src="assets\img\app-store\play-store-icon.svg" alt="Play Store Icon">
        </button>
        <button class="store-button">
          <img src="assets\img\app-store\apple-store-icon.svg" alt="Apple Store Icon">
        </button>
      </div>
    </div>
  </div>

  <div class="presentation__images">
    <img class="presentation__divider presentation__divider--vertical"
      src="assets\img\complementary-images\rectangle-224.svg" alt="">
    <img class="presentation__image presentation__image--item-1"
      src="assets\img\complementary-images\item-1-section-1.svg" alt="Imagem de apresentação">
    <img class="presentation__divider presentation__divider--vertical"
      src="assets\img\complementary-images\rectangle-224.svg" alt="">
    <img class="presentation__group" src="assets\img\complementary-images\group.svg" alt="Grupo">
  </div>
  <div class="presentation__divider presentation__divider--horizontal"></div>
</section>
