@import "../../../../assets/scss/styles.scss";

.presentation {
  width: 100vw;
  height: 70%;
  border-bottom: 3px solid var(--gray-400);

  &__container {
    display: flex;
    flex-direction: row;

    &__content {
      display: flex;
      flex-direction: row;
      width: 100vw;
      text-align: justify;
      gap: 4rem;
      justify-content: center;
      margin: 20px;

      &__text-container {
        width: 100%;
        max-width: 36rem;
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        &__logo {
          top: 20px;
          width: auto;
          max-width: 250px;
          margin-bottom: 5rem;
          z-index: 10;
        }

        &__headline {
          font-size: 1.5rem;
          font-weight: 700;
          margin-bottom: 10px;
          font-family: var(--font-family);
          text-align: justify;
        }

        &__subheadline {
          font-size: 1rem;
          font-weight: 400;
          font-family: var(--font-family);
          text-align: justify;
        }

        &__store-buttons {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          margin-top: 4rem;
        }
      }

      &__images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &__animation {
          z-index: 99;
          max-width: 100vw;
          max-width: 100vw;
          width: 520px;
          height: 520px;
          bottom: -31px;
          position: relative;
        }

        &__divider {
          &--vertical {
            height: 100%;
            margin: 0 -1px -49px;
          }
        }

        &__group {
          width: 100%;
          height: 66%;
          max-width: 100vw;
          bottom: -55px;
          position: relative;
        }
      }
    }
  }
}

@media (min-width: 2790px) {
  .presentation {
    &__container__content {
      max-width: 3840px;
      gap: 6rem;

      &__text-container {
        max-width: 70rem;

        &__logo {
          max-width: 550px;
        }

        &__headline {
          font-size: 3rem;
        }

        &__subheadline {
          font-size: 2rem;
        }
      }

      &__images {
        &__animation {
          max-width: 100vw;
          width: auto;
          height: auto;
          bottom: -70px;
        }

        &__divider {
          &--vertical {
            height: 100%;
            margin: 0 -1px -50px;
          }
        }

        &__group {
          width: 100%;
          height: 66%;
          max-width: 100vw;
          bottom: -70px;
          position: relative;
        }
      }
    }
  }
}

@media (max-width: 2790px) {
  .presentation {
    &__container__content__images__animation {
      bottom: -50px;
    }
  }
}

@media (max-width: 1900px) {
  .presentation {
    &__container__content {
      &__text-container {
        &__headline {
          font-size: 1.75rem;
        }

        &__subheadline {
          font-size: 1.1rem;
        }
      }

      &__images {
        &__divider {
          &--vertical {
           display: none;
          }
        }

        &__group {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1130px) {
  .presentation {
    &__container__content {
      flex-direction: column;
      text-align: center;
      gap: 2rem;
      align-items: center;

      &__text-container {
        align-items: center;

        &__logo {
          max-width: 280px;
        }

        &__headline {
          order: 1;
          font-size: 1.2rem;
        }

        &__subheadline {
          order: 3;
          font-size: 1rem;
        }

        &__store-buttons {
          order: 2;
          margin: 1.5rem 0;
          justify-content: center;
        }
      }

      &__images {
        &__animation {
          width: auto;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .presentation {
    &__container__content {
      &__text-container {
        &__headline {
          font-size: 1rem;
        }

        &__subheadline {
          font-size: 0.9rem;
        }
      }
    }
  }
}
