@mixin breakpoint-up($size) {
  $minWidth: 0;

  @if $size == sm {
    $minWidth: 544px;
  } @else if $size == md {
    $minWidth: 768px;
  } @else if $size == lg {
    $minWidth: 992px;
  } @else if $size == xl {
    $minWidth: 1200px;
  } @else if $size == xxl {
    $minWidth: 1680px;
  }

  @media (min-width: $minWidth) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  $maxWidth: 0;

  @if $size == xs {
    $maxWidth: 543px;
  } @else if $size == sm {
    $maxWidth: 880px;
  } @else if $size == md {
    $maxWidth: 991px;
  } @else if $size == lg {
    $maxWidth: 1068px;
  } @else if $size == xlg {
    $maxWidth: 1300px;
  }

  @media (max-width: $maxWidth) {
    @content;
  }
}
