<section class="presentation">
  <div class="presentation__container">
    <div class="presentation__container__content">
      <div class="presentation__container__content__text-container">
        <div class="presentation__container__content__max-width-text">
          <img src="assets\img\logo\logo-color-1.svg" alt="Cadu Logo"
            class="presentation__container__content__text-container__logo">
          <p class="presentation__container__content__text-container__headline">
            O app que resolve o seu problema na hora de saber quanto está gastando no mercado!
          </p>
          <p class="presentation__container__content__text-container__subheadline">
            Mais que uma calculadora comum - <strong>você nem precisa parar pra digitar</strong> - basta sacar o celular
            e
            mirar para o valor do produto que ele calcula automaticamente!
          </p>
          <div class="presentation__container__content__text-container__store-buttons">
            <app-action-button src="assets\img\app-store\play-store-icon.svg" alt="Play Store" [icon]="true">
            </app-action-button>
            <app-action-button src="assets\img\app-store\apple-store-icon.svg" alt="Apple Store Icon"
              [icon]="true"></app-action-button>
          </div>
        </div>
      </div>
      <div class="presentation__container__content__images">
        <img
          class="presentation__container__content__images__divider presentation__container__content__images__divider--vertical"
          src="assets\img\complementary-images\rectangle-224.svg" alt="">
        <img class="presentation__container__content__images__animation" src="assets\gif\Sacou-mirou-calculou.gif"
          alt="Sacou, mirou, calculou!">
        <img
          class="presentation__container__content__images__divider presentation__container__content__images__divider--vertical"
          src="assets\img\complementary-images\rectangle-224.svg" alt="">
        <img class="presentation__container__content__images__group" src="assets\img\complementary-images\group.svg"
          alt="Grupo">
      </div>
    </div>
  </div>
</section>
