<section class="tension-out">
  <div class="tension-out__container">
    <div class="tension-out__container__content">
      <div class="tension-out__container__content__text-container">
        <div class="tension-out__container__content__max-width-text">
          <p class="tension-out__container__content__text-container__headline">
            Chega de tensão!
          </p>
          <p class="tension-out__container__content__text-container__subheadline">
            Você já deu aquela suspirada triste enquanto acompanhava a moça do caixa passando
            produto por produto e rezava para dar aquele valor próximo do que você tinha na carteira?
          </p>
          <br>
          <p class="tension-out__container__content__text-container__subheadline">
            Com o <strong>Cadu</strong> essa tensão acaba! Você vai calcular e saber exatamente quanto está levando!
          </p>
          <div class="tension-out__container__content__text-container__store-buttons">
            <app-action-button variant="secondary" [icon]="false" size="size" buttonText="Eu Quero">
            </app-action-button>
          </div>
        </div>
      </div>
      <div class="tension-out__container__content__images">
        <img class="tension-out__container__content__images__animation--img" src="assets\gif\caixa.gif"
          alt="Imagem de apresentação">
      </div>
    </div>
  </div>
</section>
