<section class="product-list">
  <div class="product-list__container">
    <div class="product-list__container__content">
      <div class="product-list__container__content__images">
        <img class="product-list__container__content__images__group"
          src="assets/img/complementary-images/group.svg" alt="Grupo">
        <img
          class="product-list__container__content__images__divider product-list__container__content__images__divider--vertical"
          src="assets/img/complementary-images/rectangle-224.svg" alt="">
        <img class="product-list__container__content__images__animation" src="assets/gif/Lista-de-compras.gif"
          alt="Lista de compras">
        <img
          class="product-list__container__content__images__divider product-list__container__content__images__divider--vertical"
          src="assets/img/complementary-images/rectangle-224.svg" alt="">
      </div>
      <div class="product-list__container__content__text-container">
        <p class="product-list__container__content__text-container__headline">
          Mantenha seus produtos favoritos em uma lista de compras personalizável!
        </p>
        <p class="product-list__container__content__text-container__subheadline">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
        </p>
        <div class="product-list__container__content__text-container__store-buttons">
          <app-action-button variant="secondary" [icon]="false" size="size" buttonText="Eu gostei!">
          </app-action-button>
        </div>
      </div>
    </div>
  </div>
</section>
